
.imagem {
  float: left;
  
}

.detalhes {
  overflow: hidden;
  padding-left: 20px;
}

.texto {
  margin-bottom: 10px;
}


#btnSalvar,
#btnDesfavoritar,
#btnFechar,
#btnEditar{
  background-color: #007bff; /* cor de fundo */
  color: #fff; /* cor do texto */
  padding: 10px 20px; /* espaçamento interno */
  border: none; /* sem borda */
  border-radius: 4px; /* borda arredondada */
  cursor: pointer; /* cursor de mão */
  margin-right: 10px;
}

#btnSalvar:hover,
#btnDesfavoritar:hover,
#btnFechar:hover {
  background-color: #555;
}


@media (max-width: 767px) {
  
  .imagem{
    text-align: center;
  }
  
  .detalhes {
    margin-top: 0;
  }
  .imagem {
    float: none;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .btnSalvar, .btnDesfavoritar, .btnFechar {
    text-align: center;
  }
}


 
